# Counting

In [1]:
import pandas as pd

In [2]:
sales = pd.read_csv("https://raw.githubusercontent.com/MohamedMostafa259/Pandas-Notes/refs/heads/main/Data/sales_sample.csv")
sales # last 3 rows are the same

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.728,0.679,8.106
1,2,A,1,2010-03-05,21827.90,False,8.056,0.693,8.106
2,3,B,1,2010-04-02,57258.43,True,16.817,0.718,7.808
3,4,B,2,2010-05-07,17413.94,False,22.528,0.749,7.808
4,3,B,2,2010-06-04,17558.09,False,27.050,0.715,7.808
5,6,C,2,2010-06-04,17558.09,True,27.050,0.715,7.808
6,7,C,3,2010-06-04,17558.09,False,27.050,0.715,7.808
7,7,C,3,2010-06-04,17558.09,False,27.050,0.715,7.808
8,7,C,3,2010-06-04,17558.09,False,27.050,0.715,7.808

In [3]:
# sort=True : sorting in descending order
print(sales["type"].value_counts(ascending=True), '\n') # better than => sales.value_counts(subset=["type"], ascending=True)
print(sales["type"].value_counts(normalize=True), '\n') # better than => sales.value_counts(subset=["type"], normalize=True) # normalize => proportions
print(sales[["type", "store"]].value_counts()) # better than => sales.value_counts(subset=["type", "store"])

type
A    2
B    3
C    4
Name: count, dtype: int64

type
C    0.444444
B    0.333333
A    0.222222
Name: proportion, dtype: float64

type  store
C     7        3
B     3        2
A     1        1
      2        1
B     4        1
C     6        1
Name: count, dtype: int64

# Efficiency Comparison ↓↓
To measure the performance difference between the two methods, you can use the `%timeit` magic command in a Jupyter notebook. This command runs a piece of code multiple times and provides the average execution time, allowing you to compare the efficiency of different approaches.

In [4]:
%timeit sales.value_counts(subset=["type"])

%timeit sales["type"].value_counts()

859 µs ± 225 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)
201 µs ± 24 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

# Conclusion ↑↑
Using the `%timeit` command, you can observe that `sales["type"].value_counts()` typically executes faster than `sales.value_counts(subset=["type"])`. The latter involves more complex DataFrame operations, whereas the former directly operates on a Series, leading to better performance.