In [ ]:
import pandas as pd

# Creating DataFrames
1.  Method 1: 
	-   From a list of dictionaries (constructed row by row)
	-   can be more convenient when you're dealing with data that naturally comes in a record-like format (e.g., JSON data from an API)
2.  Method 2: 
	-   From a dictionary of lists (constructed column by column)
	-   generally **faster and more memory-efficient** because the data is already organized in column-major format, which aligns with the internal storage of DataFrames

In [ ]:
# Method 1: From a list of dictionaries (constructed row by row)
list_of_dicts = [
	{"name": "Ginger", "breed": "Dachshund", "height_cm": 22, "weight_kg": 10, "date_of_birth": "2019-03-14"}, # the 1st row
	{"name": "Scout", "breed": "Dalmatian", "height_cm": 59, "weight_kg": 25, "date_of_birth": "2019-05-09"} # # the 2nd row
]
dogs = pd.DataFrame(list_of_dicts)
print(dogs, '\n')

# Method 2: From a dictionary of lists (constructed column by column)
dict_of_lists = {
	"name": ["Ginger", "Scout"],
	"breed": ["Dachshund", "Dalmatian"],
	"height_cm": [22, 59],
	"weight_kg": [10, 25],
	"date_of_birth": ["2019-03-14", "2019-05-09"]
}
dogs = pd.DataFrame(dict_of_lists)
dogs

     name      breed  height_cm  weight_kg date_of_birth
0  Ginger  Dachshund         22         10    2019-03-14
1   Scout  Dalmatian         59         25    2019-05-09

     name      breed  height_cm  weight_kg date_of_birth
0  Ginger  Dachshund         22         10    2019-03-14
1   Scout  Dalmatian         59         25    2019-05-09

# DataFrame to CSV

In [ ]:
dogs["bmi"] = dogs["weight_kg"] / ((dogs["height_cm"] / 100) ** 2)
# `index=False` prevents storing the index as a separate unnamed column.
dogs.to_csv("dogs.csv", index=False)
dogs # Don't Worry, dogs["bmi"] is correct because dogs have a different bmi normal range from humans :)

     name      breed  height_cm  weight_kg date_of_birth         bmi
0  Ginger  Dachshund         22         10    2019-03-14  206.611570
1   Scout  Dalmatian         59         25    2019-05-09   71.818443

# Renaming DataFrame Columns

Using the `columns` attribute

In [ ]:
data = [
	[1, 2, 3],
	[4, 5, 6],
	[7, 8, 9]
]
df = pd.DataFrame(data)

# Setting column names
df.columns = ["Column1", "Column2", "Column3"]

# OR: df = pd.DataFrame(data, columns=['Column1', 'Column2', 'Column3'])

df

   Column1  Column2  Column3
0        1        2        3
1        4        5        6
2        7        8        9

Using the `rename` method

In [ ]:
data = {
	'A': [1, 2, 3],
	'B': [4, 5, 6],
	'C': [7, 8, 9]
}
df = pd.DataFrame(data)
df.rename(columns={'A': "Col1", 'B': "Col2", 'C': "Col3"}, inplace=True)

# Renaming specific columns in place
df.rename(columns={'Col1': 'Column1', 'Col3': 'Column3'}, inplace=True)

df

   Column1  Col2  Column3
0        1     4        7
1        2     5        8
2        3     6        9